.contents-wrapper {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.cat-information-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cat-icon, .cat-image {
  height: 25vh;
  width: 30vw;
  min-height: 500px;
  background-color: rgb(255, 255, 255);
  object-fit: contain;
}

.cat-information-list {
  list-style: none;
}

.cat-photos-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 80vw;
  margin-top: 2vh;
}

.cat-photos-title {
  text-align: center;
}

.cat-photos {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
}