.contents-wrapper {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.photo-wrapper {
  margin: 0 auto;
}

.photo-image {
  height: 50vh;
  width: 60vw;
  min-height: 800px;
  background-color: rgb(255, 255, 255);
  object-fit: contain;
}

.link-wrapper {
  display: flex;
  flex-direction: column;
}

.link-title {
  margin-left: 10vw;
}

.link-cats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.link-cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: auto 3vw;
}

.icon-image {
  height: 5vh;
  width: 6vw;
  min-height: 100px;
  background-color: rgb(255, 255, 255);
  object-fit: contain;  
}